@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;900&family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: 'Tajawal', 'Cairo', sans-serif;
}
